[2015-09-11 14:20] mcbain opened #2 "External access"
Is there a way to access the single mongo instances externally somehow?
Maybe using the kube-proxy or a service?

[2015-09-11 16:54] cvallance commented on #2
IIRC, the only way to access anything inside a kubernetes cluster from outside is via a service. You'd also have to set it up in a way that each mongo instance inside kubernetes could be associated with its own service... basically means they'd have to have their own replication controller with different labels.

This is assuming you/d be using kuberenetes conventions to access the mongo instances

[2015-09-11 16:54] #2 closed

[2015-11-07 13:36] teknologist opened #3 "Great project! Any way to use it with persistentVolumes"
For example NFS.

The problem is that all mongo containers in each pod share the same directory.
I have been desperate to parametrize the volumePath in the replication controller and haven't found any solution yet!

Can you be of any help ?

Many thanks!

Eric

[2015-11-13 13:34] teknologist commented on #3
I have included hostname in dbpath but as every time the kubernetes cluster is restarted, hostnames change so I have to reconfigure the replica set. It's a real pain.

[2015-11-13 16:59] cvallance commented on #3
I haven't got a good solution for you I'm afraid. When writing this we were experimenting with putting mongo in k8s but honestly, we never found it to be satisfactory. We ending up putting mongo on their own machines.

[2015-11-25 23:57] thesandlord commented on #3
I'm experimenting with running a Replica Set in Kubernetes with PVs. Each Replica gets its own Replication Controller, which is not ideal but I still want to try.

I don't think it's possible to use PVs with something like this (that can auto-scale Pods) without Kubernetes supporting a more flexible storage backend interface.

[2015-12-10 21:19] #3 closed

[2016-02-12 09:31] harai opened #7 "Duplicate member entry results in error"
I tried to create three-member replica set on GKE (Kubernetes 1.1.7), but the last two MongoDB instances couldn't join the replica set.

After struggling, I found the following error:

[code]

It seems the IP address `10.96.2.3` was compared against its host name `mongo-1-ag3nf`, which resulted in duplicate entry.

Is it possible to avoid this problem?

[2016-02-16 12:31] david-mohr commented on #7
If you run `kubectl get po -o wide`, are there two mongo pods running on the same node? If so, you can use the workaround mentioned [here](https://github.com/pires/kubernetes-elasticsearch-cluster/issues/2#issuecomment-146205846)

[2016-02-17 03:26] harai commented on #7
@david-mohr Yes, it is also an issue which must be fixed.
But I don't think it is related to the error I got.

[2016-02-17 07:07] harai commented on #7
This is the complete log of sidecar from the beginning:

[code]

When the replica set is initialized by `db.adminCommand({ replSetInitiate: {} })`, the current instance become a Secondary node; several seconds are needed to promote it to Primary at least in my environment.

[2016-02-17 17:24] #7 closed

[2016-02-20 05:13] david-mohr commented on #7
Ah, ok.  I just ran into this issue myself and I understand what you mean now.  Thanks for the fix, works a treat!

[2016-04-04 07:28] jmlambert78 opened #10 "Authenticated cluster"
Hi,
I have used the sidecar application to see the automatic config of a Replicaset.
The mongod are started in a non auth mode, and I wonder whether if you looked at this.
I tried to create an admin account, then I changed the template to include --auth and restart the containers. It seems not working.
Thx for your answers.

[2016-04-05 09:24] cvallance commented on #10
Hi @jmlambert78, could you please explain in a little more detail what you are trying to attempt and what the issue / error you are getting exactly. Cheers, Charles.

[2016-04-05 09:32] jmlambert78 commented on #10
For sure, In fact I start a replica set with the sidecar.
Then I should add the authentication steps with the additional of a cluster manager etc.
And next step is to restart the mongod with the --auth activated.
when I do that, the sidecar cannot authenticate to perform actions, so my question is which steps to make to integrate this fully
Thx for your support

[2016-04-05 09:51] cvallance commented on #10
Thanks! So from what I remember (and can see), it's currently setup to only connect via localhost (127.0.0.1). We could look at making the change, but I'm really not sure when we can get to it... more than happy to accept a pull request to make the change!

You'll want to look at `worker.js` and line #36 where connecting to the mongo database is done... then I'd suggest altering `config.js` to ret

[2016-05-21 20:27] streamnsight opened #11 "possible simpler design?"
Hello @donbeave @kikov79 @harai @cvallance @ericln ,

Awesome project...
I've been looking at setting up MongoDB with replica sets on Kubernetes, and I found this project, so I'm pretty stoked.

Yet, I'm a little weary of deploying (yet another) NodeJS application in my cluster... It seems a little overkill to run this as a sidecar permanently, so I wanted to pick your brain(s) about another appro

[2016-05-23 09:29] #10 closed

[2016-05-24 10:22] cvallance commented on #11
Thanks @streamnsight, I like where you're coming from and agree that it could do with a reevaluation of the current approach.

I don't mind adding complexity like this as long as we abstract it away from the user of the sidecar, it's a much more elegant than the shared algorithm to pick a master we currently have.

I wouldn't want to put a requirement like this onto the user. Again, if we can deal

[2016-05-24 15:07] streamnsight commented on #11
@cvallance
I started working on this and here is what I find:
- `postStart` script start as soon as the container is running, which does not guarantee mongo is running, so I had to check that I can reach it. Not a big deal, but good to know.
- the pod is not registered with the **Service** until the pod is in `ready` state, which means the pod getting started doesn't show on the list when listing

[2016-08-10 07:40] allanlei commented on #11
[PetSets](http://kubernetes.io/docs/user-guide/petset/) should be able to help with this.

[2016-08-10 16:29] streamnsight commented on #11
i implemented the poststart, prestop idea and it works fine. all in shell.

now, with k8s 1.3.4 there are now `init` containers, and that is prbably the way to go. in the future.

will look into porting my scripts to init containers once i upgraded my cluster

[2016-08-10 17:06] streamnsight commented on #11
and yes otherwise PedSets are another way to have a more stable IP assignment but the init still has to be done.

[2016-08-10 18:18] streamnsight commented on #11
PS: here are the scripts I use:

https://gist.github.com/anonymous/4b74dabf9343ae2d146a60f3c1a0815e
https://gist.github.com/anonymous/9306d830fd97aabd0484b97bb1a50d3e

[2016-08-15 05:21] tim-smart opened #13 "Use a single replication controller and service"
Currently it looks like you create a service for every replica?

What would we need to do to make the replica model (or something similar):

```svc/mongo -> rc/mongo -> lots of mongo pods```

It has been mentions, but PetSets could be a good fit for mongo clusters.

[2016-08-15 08:48] cvallance commented on #13
PetSets are the perfect fit for mongo clusters in k8s. They weren't available when this project was first created so none of the examples use them.

This project is still fully compatible with PetSets because they still create Pods which in turn have labels, this is all the project requires to setup a ReplicaSet.

[2016-08-15 20:47] tim-smart commented on #13
Ah yes, I see how the label thing works now.

I guess the only issue with using one service per replica set is having a
nice way to get all the pod ips for the client connection. There are ways
around it I can see, but they add extra complexity which is annoying!

On Mon, 15 Aug 2016, 20:48 Charles Vallance <notifications@github.com>
wrote:

[2016-08-16 00:44] cvallance commented on #13
Yeah, it is quite annoying but I found out the hard way that it's necessary in that when you connect to a replica set, you can't just connect via a service because this will just load balance you randomly to one machine... you need to have all the replica set members in the mongo connection string... hence the need for 1 service per pod.

PetSets definitely make it slightly easier.

I had created

[2016-08-16 00:44] #13 closed

[2017-01-05 21:36] thesandlord opened #14 "Move to StatefulSets"
I'm working on moving the example deployments to Stateful Sets instead of Replication Controllers. This should simplify the setup and provide more stability. From my initial testing, it seems like we still need a sidecar to do the configuration though.

Right now, the Makefile creates the individual volumes, a RC, and a Service per MongoDB Replica, along with a "master" service for all the MongoDB

[2017-01-06 11:38] theobolo commented on #14
@thesandlord That's great thanks for that PR ! If you need it, i can add the AzureDisk example :) i'll try that StatefulSet right now, and give you my feedback then.

[2017-01-06 13:21] theobolo commented on #14
@thesandlord Ok, so i tested with a Kubernetes StorageClass using AzureDisks, it's working perfectly ! My 3 Pods are coming up one after another and my PVCs are created and mounted.

I face one problem, witch is not related to the StatefulSet but more to the sidecar Container, let me explain :

 - If you delete de StatefulSet the PVCs are still provisioned on the cluster and that's great !
 - By t

[2017-01-06 19:05] thesandlord commented on #14
Yeah I'm running into a similar problem. Looks like a bug in the sidecar. Interestingly, if you kill the pods slowly (i.e one at a time), things seem to work fine. The container spins back up and rejoins the set. It only seems fails if you kill a lot at once (or all of them at once).

[2017-01-06 19:43] thesandlord commented on #14
So here is the error I'm getting:

[code]

In the sidecar code, [worker.js](https://github.com/cvallance/mongo-k8s-sidecar/blob/master/src/lib/worker.js#L61) looks like it is checking for error code 94 only, not 93.

Going to change it to both and see what happens

[2017-01-06 19:55] theobolo commented on #14
@thesandlord That should be a solution ! Waiting for your feedback.

[2017-01-06 21:36] thesandlord commented on #14
Unfortunately there is a assumption in the "notInReplicaSet" function that if there is a replica set created, MongoDB will eventually fix itself. In this case, all the nodes are broken but still in the set, so we need to force a reconfigure.

Because there is no primary, I'm thinking the easiest way is to just add the newly spawned pods to the replica set, and have MongoDB do another election. The

[2017-01-06 22:26] thesandlord commented on #14
It kind of worked... the nodes are no longer stuck in the OTHER status. Two become secondary and one becomes primary as expected. The problem is the secondary nodes don't connect to the primary nodes, they are still connected to the three non-existent ones...

Not sure what the solution is, open to ideas!

[2017-01-06 22:59] thesandlord commented on #14
Got it to work! I was running the reconfigure on all the nodes which was a mistake. Changed it to only run on a newly elected primary, and have the primary add the secondary nodes as well. Looks like it recovers without issue!

In any case, this is probably a fringe scenario because having all the nodes go down at once is pretty unlikely.

[2017-01-07 01:43] cvallance commented on #14
Thanks for all the work on this, good job guys. I'll close this issue once @theobolo has given it a test on Azure.

On that note, an azure provisioner yaml file as @thesandlord mentions would be welcome 😄

[2017-01-08 13:23] theobolo commented on #14
@thesandlord @cvallance So i tested the case when we redeploy the StatefulSet on the same persistentVolumes and that working well !

The new pods are running the dry election and a new master is elected, the DB Data wasn't lost and my DB is not corrupted, so far it's working fine !

[2017-01-08 21:19] cvallance commented on #14
Awesome, thanks guys. Closing this issue now.

[2017-01-08 21:19] #14 closed

[2017-01-12 10:37] MathiasVandePol opened #18 "Azure Storage Account not found- "vhds" container necessary."
Hey.

I was implementing your example and noticed that it failed because it could not find the azure storage account.
Some digging showed that the vhds container is necessary. Perhaps it is good to add this in your readme.md

More info [here](https://github.com/kubernetes/kubernetes/issues/38362)

[2017-02-02 19:00] SebastianStehle opened #19 "Connection Issue due host names"
Hi,

I successfully deployed a cluster with your example. And it works almost fine. I tested the connection with C# and Java driver and both seem to have the same problem:

This is a quote from the C# documentation:

    Even when providing a seed list with resolvable host names, if the replica set configuration uses unresolvable host names, the driver will fail to connect.

http://mongodb.github.

[2017-02-02 21:37] #19 closed

[2017-02-03 01:35] jwaldrip opened #20 "Does not work well with stateful sets."
I have pods that are in a removed state from the replica set. this leaves the cluster in an unusable state. Why doesn't the sidecar automatically remove these nodes?

[2017-02-03 01:43] cvallance commented on #20
The sidecar uses a pod label selector to get the pods that should be in the replica set... nothing to do with a replica set or stateful set... so if you have pods that match the selector that are still running, they won't get removed.

Maybe you could change the labels for pods that are removed from the stateful set and/or replica set?

PR welcome if you want to have a go at trying to use somethin

[2017-02-06 23:01] cvallance commented on #20
@jwaldrip - did I understand your question / issue correctly?

[2017-02-11 09:11] knsakib opened #22 "is there any way to connect from robomongo / mongochef"
Google container engine gives internal of mongo service(which is fine). However, Is there any way to connect to that mongodb through robomongo / mongochef ?

[2017-02-11 09:37] cvallance commented on #22
I'm able to connect to my replica set in AWS (using Tectonic) via a simple ssh tunnel. Mongochef supports that kind of setup.

Can you do anything like that yourself?

[2017-02-12 08:55] cvallance commented on #22
I'm going to close this issue because it isn't directly related to this github project.

More than happy to offer help @knsakib - let me know if you have any other questions or comments.

[2017-02-12 08:55] #22 closed

[2017-02-12 08:55] cvallance commented on #20
@jwaldrip - I'm going to close this issue because I haven't heard anything back from you. Please re-open if you feel it should be.

[2017-02-12 08:55] #20 closed

[2017-03-26 14:33] madchap opened #26 "Unauthorized"
Hello,

I am trying out this sidecar, which sounds like a dream :-) I am having issues, however. I am doing it with StatefulSet.

I am trying to run the sidecar with docker image mongo:2. My current environment is based on coreos-vagrant multi and some glusterFS for persistent storage.

Starting the sidecar container, I get this:
[code]

If i kubectl exec into one of the mongo container and initia

[2017-03-26 14:49] madchap commented on #26
hehe.. it helps me to write things out.

I meant to be using mongo:3 and not mongo:2. Works much better now :)

Thanks!
fred

[2017-03-26 14:49] #26 closed

[2017-03-28 12:24] henhouse opened #27 "Replica member coup when Set ID is lost"
I am not sure how to reproduce this, but this was a result of scaling mongo up and down multiple times via the `kubectl scale --replicas=X statefulset mongo` command.

I was running tests and noticed performance went out the window until I checked the pod logs to find the logs being absolutely flooded with these messages (hundreds, potentially more _per second_, per pod).

`2017-03-28T12:09:44.891

[2017-03-30 06:18] YouriT opened #29 "Resources Management Guidelines"
Just discovered this PoC which seems awesome, still some work to go I guess, but still it's heading good!

One thing that bothers me, is that if you deploy this as per the example folder, you might hit a memory issue with WiredTiger.

Let's say you've a cluster with one machine having 10Go RAM. If you deploy it as it is with 3 nodes in your RS, and your indices grows until 4Go, you'll have your po

[2017-04-03 02:45] fschuh opened #30 "Memory leak on node process"
I was testing this sidecar container on a Kubernetes cluster made up of 3 small nodes, and noticed one of my nodes became unresponsive.
After examining the processes, I found a node.js process that belongs to mongo-k8s-sidecar taking 1 GB of memory, which caused other critical processes to crash.

Here's the output from top:

[code]

Output from ps shows this:

`3372 ?        Sl     0:00 node /opt

[2017-04-03 02:49] #30 closed

[2017-04-03 02:51] fschuh commented on #30
I'm sorry, this was a total misunderstanding on my side.
It was not caused by this sidecar container, it was another node.js process in another Pod.
I didn't look at the PID number close enough.

Sorry for the confusion, please disregard this issue.

[2017-04-03 02:52] cvallance commented on #30
*phew*

[2017-04-07 18:33] luckyfengyong opened #32 "How to access mongodb server with statefulset from outside k8S cluster?"
Any idea how external user access mongodb service?
I try to export the mongodb as a normal service, for example, the type of NodePort. I could access mongodb by CLI or programming interface but has to specify rs.slaveOk(). However according to http://dbversity.com/mongodb-why-we-need-to-set-rs-slaveok-while-querying-on-secondaries, the rs.slaveOk() may not be recommended for all the use cases.
Doe

[2017-04-07 18:37] luckyfengyong commented on #32
@cvallance @thesandlord
Could you please shed some light on it?
Thanks

[2017-04-07 19:08] luckyfengyong commented on #32
Forget to run rs.initiate(). After that, mongoimport works but only with primary node. However from outside K8S cluster, it will be hard to identify the primary node and access it. I have to create a service with the endpoint of hard coded ip address of primary node.

[2017-04-09 00:43] luckyfengyong commented on #32
Correct above. Just aware, the service has to be created with headless first, otherwise sidecare failed to initialize mongodb instance. User could update the service with nodeport or other type later to access the mongodb externally.

[2017-04-10 20:51] cvallance commented on #32
What's the use case for accessing it externally? I.e. is it an app accessing it externally OR are you simply trying to connect via mongo chef or robomongo to debug or run some queries?

[2017-04-10 21:34] luckyfengyong commented on #32
@cvallance We want to offer mongo as a service on our private kube cloud and the developer may be using this service from an application on their own environment (may not be kube or even docker). We need to be able to access mongo from external apps and tools like Mongo Compass.

[2017-04-11 08:44] Globegitter opened #33 "How to use different storage classes for StatefulSet example"
I am followed the blog http://blog.kubernetes.io/2017/01/running-mongodb-on-kubernetes-with-statefulsets.html on Azure and all working well, but how can I connect the different replicas of the mongo `StatefulSet` to different storage classes? Right now every replica connects to the same storage class / storage account in Azure, so if there are any issues with that account it can affect the whole r

[2017-04-11 15:02] Ohmen opened #34 "Memory leak on fail state [Not critical]"
Steps to reproduce
1. Run the sidecar with a `MONGO_SIDECAR_POD_LABELS` set to a value which does not select any pods. In my case use `;` instead of `,` to delimit the labels ;-)
2. Wait for the memory consumption of the sidecar to pile up. Roughly 500kb per 15 minutes

This is not critical but forced me to restart my box because there was no memory left to ssh.

[2017-04-12 17:37] YouriT opened #35 "Synergies"
I think there might be some interesting synergies to do with this [helm mongodb-replicaset](https://github.com/kubernetes/charts/tree/master/stable/mongodb-replicaset) incubator project.

Any thoughts about this?

_Edit: Link updated_

[2017-04-13 14:54] abinet opened #38 "Ability to work with secured databases needed"
First of all I like the sidecar approach you are using in opposite to creating hard roled instances like https://github.com/bitnami/bitnami-docker-mongodb does.

But I miss an ability to config the databases with enabled security. Thus I made a small extension to get it work (see my PR)

[2017-04-13 18:30] tomerf commented on #18
Hi Mathias,

I just encountered the same issue, it is a kubernetes bug (actually fixed 3 days before you posted it!). You can upgrade kubernetes or create the container manually.
I don't think it's needed to document it in every project that use Azure storage class.

[2017-04-22 11:20] sibelius opened #41 "AWS kops example"
it would be great to have an aws mongodb example

[2017-04-22 11:21] sibelius commented on #35
@YouriT the link is broken

[2017-04-22 11:25] YouriT commented on #35
Mmh strange something changed!

Le 22 avr. 2017 13:21, "Sibelius Seraphini" <notifications@github.com> a
écrit :

[2017-04-22 11:51] YouriT commented on #35
It switched to stable branch : https://github.com/kubernetes/charts/tree/master/stable/mongodb-replicaset

[2017-04-22 11:57] sibelius commented on #35
looks good tks

[2017-04-22 12:17] YouriT commented on #38
To have a link between both: #39

[2017-04-23 21:08] cvallance commented on #38
Fixed with #39

[2017-04-23 21:08] #38 closed

[2017-04-23 21:09] cvallance commented on #34
Yikes. Ok, will have a look into it.

[2017-05-11 16:49] romanlytvyn opened #43 "MongoDB replica set with authentication fails to start"
How do we setup authentication or define a root user?

So far I have tried:

1. Setting `MONGO_INITDB_ROOT_USERNAME` and `MONGO_INITDB_ROOT_PASSWORD` environment variables on mongo container. Mongo container fails to start with "Error: couldn't add user: not master :" which is fair since we pass `--replSet` flag and it tries adding a user before rs.initiate();
2. Passing `--auth` flag to mongod an

[2017-05-11 17:09] romanlytvyn commented on #43
I have notice there is #38 and #39.
@cvallance Could you please explain how to set up a root user during startup?

[2017-05-12 09:08] romanlytvyn commented on #43
I've come up with some kind of a workaround:
[code]

The idea is to start a container without `--replSet` (to be able to add a user without `rs.initiate()`), create a key file on container start and add a user on primary node (`mongo-0`) and restart container with `--keyFile` and `--replSet`.

Please let me know if there is a proper way of doing this.

[2017-05-14 19:37] mellotron opened #44 "Broken with kubernetes 1.6 with RBAC"
The sidecar fails on 1.6 with RBAC with:

[code]

[2017-05-14 19:47] mellotron commented on #44
Working with:

[code]

[2017-05-15 21:39] cvallance commented on #44
Cool, thanks. I'll add something to the README.md ... actually came across this myself when using Tectonic 😄

[2017-05-18 19:09] khwerhahn opened #45 "Setting up credentials"
Hi,

I'm trying to create a username and a password by passing it into the yaml. The values are stored in a secret. Mongo doesn't seem to set them up. The database is setup without credentials. What am I doing wrong?

[code]

[2017-05-25 09:47] Pensu opened #46 "Getting error: message: 'no such cmd: replSetGetConfig' in mongo-sidecar"
Hi all,

I have been trying to set up a mongodb replica set on k8s cluster. I am able to run all the pods, but they are not connected to each other, when I checked the logs of sidecar, I get the following error:

[code]

Any idea what could cause this error? or How to resolve it? TIA.

[2017-05-25 09:51] cvallance commented on #46
What version of Mongo are you running? The code is basically calling this mongo function: https://docs.mongodb.com/manual/reference/command/replSetGetConfig/

So if you don't have at least version 3 of mongo, it won't work.

[2017-05-25 10:10] Pensu commented on #46
So, I am using this package.json: https://github.com/cvallance/mongo-k8s-sidecar/blob/master/package.json, and it's installing 2.2.27, which I understand is the latest version that can be installed using npm: https://www.npmjs.com/package/mongodb

Should I install mongo directly i.e. without npm or is there any other way so that I can get version 3 of mongo with npm?

[2017-05-25 10:13] cvallance commented on #46
No no, what version of mongo itself are you using.

The version you are seeing in the package.json is the version of the mongo sdk for nodejs.

[2017-05-25 10:17] Pensu commented on #46
Ah, ok, got it, looks like I am running 2.6, let me change that to 3 and will update.

[code]

[2017-05-26 09:28] Pensu commented on #46
Hey, I tried with mongo version 3.2, here is the error I am getting:

[code]

[2017-05-26 12:02] markfejes commented on #33
I believe you can achieve this by creating x more storage classes for different storage accounts.
The documentation says, that you can specify a storage account in the storage class definition
[Azure Storage Class](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#azure-disk)

Sorry if I misunderstood your question!

[2017-06-05 15:12] Pensu commented on #46
Yeah, restarting the whole cluster solved the issue. Probably something old that was preserving. Closing the issue.

[2017-06-05 15:12] #46 closed

[2017-06-06 08:44] QuentinJi opened #47 "sidecar process error"
[code]
is there an environment variable support k8s config?

[2017-06-09 15:13] jordanjennings commented on #43
@romanlytvyn looks like #38 and #39 just added a way for the sidecar to use existing authentication, not a way for it to configure it for you. Are you still using the workaround you posted above? Any updated approaches you have figured out?

[2017-06-12 10:32] romanlytvyn commented on #43
Hey @jordanjennings , I did not have much time to spend on the investigation so for now that's what I'm using, workaround does the job.

[2017-06-26 14:52] neverfox commented on #32
@luckyfengyong You would do it like you would any other k8s service you wanted to expose outside the cluster, e.g. create a LoadBalancer service. Nothing prevents you from having more than one service pointing to the pods.

[2017-06-26 14:54] neverfox commented on #47
`/var/run/secrets/kubernetes.io/serviceaccount/token` is something all pods should have access to. Is this an error you're getting running the sidecar on a k8s cluster?

[2017-06-26 19:07] prateekrastogi commented on #32
@neverfox While connecting with loadbalancer using type loadbalancer and assigning an external ip, it starts to give out no primary found error using mongodb client connector. Even changing the connection url optional parameters to allow read from secondary is not allowing it to connect properly. The same issue persist while using NodePort too. But, inside the kubernetes cluster it is happening pr

[2017-06-27 22:10] pashok2398 commented on #32
Hi i used this:
Label each pod with its name:
[code]
Expose each pod individually:
[code]
Now you can access the NODE_NAME:NodePort

[2017-07-07 21:16] BeHiz opened #49 "Transitioning from existing standalone / rs"
Hi All,
My apologies if this is the wrong place to write a question.

I need to transition an existing standalone to mongo-k8s-sidecar.  Mongo [offer this procedure](https://docs.mongodb.com/manual/tutorial/convert-standalone-to-replica-set/).

Can this procedure be followed with sidecar?

[2017-07-08 03:49] BeHiz opened #50 "StatefulSets example: Four MongoDB Warnings"
Hi,

The StatefulSets example, when run exactly as described in the [readme](https://github.com/cvallance/mongo-k8s-sidecar/blob/master/example/StatefulSet/README.md),
shows the following warnings (when connecting to _mongo shell_).

please, which of these should be taken seriously and how can they be avoided?

[code]

[2017-07-08 22:49] BeHiz opened #51 "Username and Password variables"
A question please:

Do the environment variable MONGODB_USERNAME & MONGODB_PASSWORD have any affect after the first deployment? is changing them a good way of changing admin password or should that be done through interacting with mongo directly?

(if this is not the appropriate place for questions, I do apologize)

[2017-07-25 14:33] allansene opened #52 "MongoError: Found two member configurations with same host field"
Hi, guys!

We just deployed some mongo replicas on our cluster, but some mongo-sidecar instances are returning this error below:

[code]

We have pairs of 2 Mongo Instances on each service and one of those says on Mongo Console with the label SECONDARY and the other with the label OTHER (status REMOVED from `rs.conf()`). Our Mongo Servers is v3.4.6.

Our Kubernetes is on GKE:

[code]

Anyone knows

[2017-07-29 22:11] mallikharjunrao commented on #32
@pashok2398 i tried connecting NODE_NAME:port and PUBLIC_IP_OF_NODE:port doesnt work for me. is DNS_NAME_OF_NODE:port works?

[2017-08-18 11:30] pkdone commented on #50
See: http://pauldone.blogspot.co.uk/2017/06/mongodb-kubernetes-production-settings.html

[2017-08-18 11:30] pkdone commented on #51
See: http://pauldone.blogspot.co.uk/2017/06/deploying-mongodb-on-kubernetes-gke25.html

[2017-08-31 06:31] TrafeX commented on #52
We're running into the same issue. We have 3 Mongo instances and it happend when we changed the updateStrategy from the default `OnDelete` to `RollingUpdate`.
Now this is the output of the sidecar:

[code]

@allansene How did you fix this?

[2017-09-08 12:18] felixPG opened #53 "Master without slaves"
Hi:

Deploying mongo replset with side-car rise up to me the following problem:

Master are configured properly but sidecar cant add slave nodes because a **NewReplicaSetConfigurationIncompatible** error. Master work fine, I can insert and read data but of course, I cant read this data from the slave nodes because they dont appear in the replset configuration as slave.

Below the logs from sidecar

[2017-09-08 18:26] nearwood commented on #27
I'm having the same issue trying to scale a Mongo replica set via Docker SWARM. I believe it to be that on service restarts, IPs sometimes shuffle and each node cannot then find the other nodes and default to replicasets of one, with 127.0.0.1. This causes my initialization script to call rs.inititalize() on each node, which then breaks everything like the above.

[2017-09-11 10:16] felixPG commented on #53
@cvallance an update for this please?, problem are related with **replSetReconfig got DuplicateKey**:
[code]
Regards

[2017-09-18 05:18] post707 opened #54 "MongoError"
An error was deployed using the stateful method,I don't know the wrong reason.
[code]

[2017-09-18 06:42] post707 commented on #54
I found the wrong reason, because the disk space is full

[2017-09-18 06:42] #54 closed

[2017-09-21 20:57] galo opened #55 "Istio issues with TLS"
I've been deploying Mongo with the side-car using StatefullSets and Istio.io. It works well, still there is an issue with istio-auth which forces TLS between pods, reported this in the Istio Users group [1]

TLS should be handled by Istio Envoy, but somehow the sidecar complains about SSL issues connecting to the other pods. I'll take a close look at this, but let me know if somebody already notic

[2017-09-27 18:29] nottinhill opened #57 "rs.initiate() must be triggered manually on all mongo pods of the set"
In essence the stateful set is failling to configure.

[2017-09-29 11:52] PanJ commented on #52
I have 3 nodes and facing this problem as well.

[2017-10-02 02:01] nottinhill opened #58 "MongoDB Stateful Set, Each Read/Write into random Instance, then does not find entries"
Worst case scenario is happening as in subject described. I have a StatefulSet running and on database write and read it uses random instances (mongo-0, mongo-1) and does not find values it needs.

My deployment of the app has this:

[code]

Then I do:

If i run `rs.initiate()` on all mongo set members, one is designated as "secondary" and two as "other". All three tell me:

[code]

Then I do as i

[2017-10-02 18:05] EIrwin commented on #54
@post707 can you elaborate on this? We are seeing the same issue, but it doesn't look like our disk space if full.

[2017-10-02 19:36] EIrwin opened #59 "Error during podElection with undefined podIP"
We have been trying to identify some intermittent issues with our MongoDB cluster running on stateful sets using this sidecar. In our logs leading up to some of our issues, we are seeing the following logs.

I am not even sure where to begin to identify what could be causing this, and I haven't seen any issues related to this.

[code]

This points at the `podElection(...)` function defined at http

[2017-10-03 20:14] bsomogyi commented on #52
I'm facing this issue as well (using a statefulset and I"m using the stable network pod ID for my replicas in the sidecar).  Anyone have luck with this issue or have a workaround?

[2017-10-03 22:24] firefoxNX commented on #52
Same here. Tried restarting the pods (delete) still the same error

`Error in workloop { MongoError: Found two member configurations with same host field, members.0.host == members.1.host == mongo-0.mongo.ns.svc.cluster.local:27017`

[2017-10-03 23:04] allansene commented on #52
@TrafeX I just added more Mongo containers' on the pod, 3 in total. I don't remember changing another configuration. Don't know how to help you :(

[2017-10-04 01:28] firefoxNX commented on #52
k8s newbie here... do we have to create a service for each mongo node by running `kubectl expose pod mongo-0 --name mongo-0 --type NodePort --namespace=ns`?

[2017-10-04 22:03] bsomogyi commented on #52
@allansene - I'm curious as to what version of mongo you are running?  I've tried both 3.4 and 3.5 and encountered the issue. Wondering if its potentially related to the version of mongo some of us are running.

[2017-10-05 18:11] meshfields opened #60 "Did anybody ever manage to set this up?"
I am trying for 2 weeks now, but

Unhandled rejection MongoError: failed to connect to server [mongo-0:27017] on first connect [MongoError: getaddrinfo ENOTFOUND mongo-0 mongo-0:27017]

is the only outcome I get. I tried

mongo-0
mongo-0.default.svc.cluster.local
mongo-0.mongo.default.svc.cluster.local

I have set

        - name: KUBERNETES_MONGO_SERVICE_NAME
          value: mongo

[2017-10-05 18:33] bsomogyi commented on #52
I ended up adding the following to the mongo.js addNewMembers function in my Fork so only members that don't exist get added to the replicaset config. Seemed to have solved the problem for me.  If it solves the problem for others I can open a PR. Suspect there is a race condition occuring between the initialization and addition of new members.

`    var exists = false;

    for (var j in rsConfig.

[2017-10-06 00:43] #57 closed

[2017-10-12 17:46] EIrwin commented on #59
Not sure if anybody has had this occur, or has even looked at this, but my guess is that this is directly related to failures with `kube-proxy` init container stuck in `Waiting` phase. Once we identified this had happened, and killed the node that the proxy was on, we haven't had this occur.

[https://github.com/kubernetes/kubernetes/issues/52462](url)

[2017-10-19 06:32] RiaanLab commented on #53
I have created a work around, albeit a bit manual for now, to get anyone with a replicaset with issues synced again. You can run the following on one of your kubernetes nodes. (Change the namespace that your mongo RS is running in.)

NAMESPACE=infra-dev ; for MONGO_NODE in $(kubectl get pods --namespace="$NAMESPACE" --no-headers | grep mongo | awk '{ print $1 }'); do kubectl exec "$MONGO_NODE"  --

[2017-10-19 14:28] fega commented on #52
@bsomogyi I'd want to add this first to my fork but I'm a little bit confused of where your code should be place, could you share your addNewMembers function?

thanks

[2017-11-06 12:00] zhoulouzi opened #61 "StatefulSets' stable network ID error"
# logs from sidecar container:
Error in workloop { MongoError: failed to connect to server [192.168.199.136:27017] on first connect [MongoError: connect ECONNREFUSED 192.168.199.136:27017]
    at Pool.<anonymous> (/opt/cvallance/mongo-k8s-sidecar/node_modules/mongodb-core/lib/topologies/server.js:336:35)
    at emitOne (events.js:115:13)
    at Pool.emit (events.js:210:7)
    at Connection.<anonym

[2017-11-07 02:33] zhoulouzi commented on #61
i got the error , i will close this issue

[2017-11-07 02:33] #61 closed

[2017-11-08 14:16] zelentsovl commented on #43
Hi @romanlytvyn ,

I'm trying to use your workaround and get

{"log":"2017-11-08T13:53:35.497+0000 I ACCESS   [main] permissions on /data/db/k                                                                              ey are too open\n","stream":"stdout","time":"2017-11-08T13:53:35.498584132Z"}

looks like chmod 600 doesn't work for some reason.

[2017-11-12 22:01] igorrendulic commented on #52
I had the same problem.

While trying implement a solution i got familiar with code a bit and decided it's not a good solution for me. It's constantly updating replica set configurations in a loop which feel dangerous in the long run.

To solve the problem i removed mongo k8s sidecar from my `statefulset` and manually forced new replica set configuration:

[code]

This is ok for testing but for so

[2017-11-12 23:53] cvallance commented on #60
What do your service definitions look like? How are you setting up your mongo instances? StatefulSet or manual ReplicationControllers?

[2017-11-12 23:57] cvallance commented on #59
Thanks for the info! Closing issue due to k8s bug (which looks to be fixed in 1.7).

[2017-11-12 23:57] #59 closed

[2017-11-13 00:03] cvallance commented on #55
Hi @galo - I see from the google group link you posted that Istio is working on a fix for headless services... do you know if its been fixed? I'm going to close this issue but feel free to update with a comment once they have fixed it. Cheers.

[2017-11-13 00:03] #55 closed

[2017-11-13 00:04] #18 closed

[2017-11-13 00:11] cvallance commented on #27
Looks like the `invalidReplicaSet` doesn't do any election process so everyone may start trying to init the replica set again. I'll create a PR to fix this.

[2017-11-13 01:43] cvallance commented on #52
Implemented fix as mentioned by @bsomogyi ... feel free to re-open if you see this issue happening again.

[2017-11-13 01:43] #52 closed

[2017-11-13 01:54] cvallance commented on #53
@felixPG - how did the replica set initialize itself? The first one that comes up should initialize with an IP addres and not `mongo-0:27017`.

[2017-11-13 02:05] cvallance commented on #51
No. In fact, as far as the sidecar is concerned, it doesn't have any effect... I.e. it simply uses them for authentication with the mongodb instance, it doesn't set them or anything like that... that's up to the user to do themselves.

[2017-11-13 02:05] #51 closed

[2017-11-13 02:05] #50 closed

[2017-11-13 02:08] cvallance commented on #43
Yeah, the sidecar doesn't setup authentication, that's up to the user.

[2017-11-13 02:08] #43 closed

[2017-11-13 02:11] cvallance commented on #49
You could transition from existing to a mongo-k8s-sidecar. How you would do that depends on a large number of variables around your own setup. Happy to continue to discuss but will be closing this issue.

[2017-11-13 02:11] #49 closed

[2017-11-13 02:13] cvallance commented on #47
Hmmm... strange. That is the secret that all pods should get mounted. It will give the pod read access to the k8s cluster api... we use that to get all the pods that should be in a mongo replica set.

Is this still an issue?

[2017-11-13 02:14] cvallance commented on #45
The sidecar doesn't to the setting up of authentication... it will just use the authentication provided to auth with the database. Setting up auth is out of scope for this project.

[2017-11-13 02:14] #45 closed

[2017-11-13 02:15] #44 closed

[2017-11-13 02:16] cvallance commented on #41
Fair call. There isn't really too much difference except you'll want to create your own `StorageClass` for AWS... I'll add on of those to the `/example/StatefulSet` directory.

[2017-11-13 02:23] cvallance commented on #41
https://github.com/cvallance/mongo-k8s-sidecar/pull/63

[2017-11-13 02:23] #41 closed

[2017-11-13 02:34] cvallance commented on #35
Interesting project, loads of good stuff in there. If I had some time I'd check it out to see if there was some synergies.

I suspect there isn't given that they take a different approach... i.e. setting up the replica set as part of bootstrapping the whole pod / stateful set.

[2017-11-13 02:34] #35 closed

[2017-11-13 02:44] cvallance commented on #33
This is a limitation of the `StatefulSet` in that you can only apply a single volume claim.

You could have two different `StatefulSet`s and have different volume claims for each one. The way the sidecar works is that it calls the k8s api to get all the pods that should be in the replicaset using the value you set in `MONGO_SIDECAR_POD_LABELS` ... so as long as the two `StatefulSet` definitions sh

[2017-11-13 02:44] #33 closed

[2017-11-13 02:45] #32 closed

[2017-11-13 02:49] cvallance commented on #11
Closing this as an issue.

[2017-11-13 02:49] #11 closed

[2017-11-13 02:50] cvallance commented on #27
Added some code in https://github.com/cvallance/mongo-k8s-sidecar/pull/62 which should help with this scenario.

[2017-11-13 02:50] #27 closed

[2017-11-13 02:50] cvallance commented on #29
Open to a PR if you wanted to add some guidelines.

[2017-11-13 02:50] #29 closed

[2017-11-13 02:54] cvallance commented on #58
Did you get this working?

If not, can you explain simply the steps you took? You should only have to crate the service and the statefulset as per the stateful set example... no other manual steps should be required.

[2017-11-15 06:54] cmosgh commented on #60
@nottinhill
you can add some labels to your mongo instances i.e.:
replSet: someReplSet

and then use
`env:
    - name: MONGO_SIDECAR_POD_LABELS
       value: replSet=someReplSet`
for the sidecar

[2017-11-22 17:03] zelentsovl opened #64 "Kubernetes 1.8.2 Error: context deadline exceeded"
Hello,
I'm trying to deploy mongodb as a statefulset on Kubernetes 1.8.2 cluster and have the next situation:
1) Storage class is created successfully.
2) Persistent volume is provisioned successfully.
3) mongo-k8s-sidecar contaner is created successfully
4) On the moment of mongo container creating docker hangs and I have next messages from kubectl:

 FirstSeen     LastSeen        Count   From

[2017-11-22 22:10] zelentsovl commented on #64
The issue is solved. Problem was in quobyte persistent storage. After restart nodes and redeployment quobyte client mongodb is deployed successfully.

[2017-11-22 22:10] #64 closed

[2017-11-23 18:06] zelentsovl opened #65 "Did not find local voted for document at startup"
Hello,

I have deployed mongo statefulset and pods successfully, but when I connect to mongo and do rc.initiate() I get next error:

**E QUERY    [thread1] ReferenceError: rc is not defined :**

There are next string in the mongo container logs:

{"log":"2017-11-23T17:21:09.572+0000 I REPL     [initandlisten] Did not find local voted for document at startup.\n","stream":"stdout","time":"2017-11-23

[2017-11-23 18:15] zelentsovl commented on #65
Just stupid mistake: not rc.initiate() but rs.initiate()!

[2017-11-23 18:15] #65 closed

[2017-11-28 15:49] erkolson opened #66 "Split brain"
The current use of the sidecare leaves the cluster vulnerable to split-brain due to network partition.

Would it be possible to introduce another environment variable to the sidecar for `EXPECTED_CLUSTER_SIZE`?  This would keep the sidecar from removing replicas during a network partition and still allow it to resize dynamically when new replicas are added or removed.

If you are not aware, this b

[2017-11-28 21:21] khaled-nabil opened #67 "Unable to read from Slave Pod"
I manged to deploy a StatefulSet with following commands,

      containers:
      - image: mongo
        name: mongo
        command:
          - mongod
          - "--replSet"
          - rs0
          - "--smallfiles"
          - "--noprealloc"

From the logs, a master was assigned successfully and all Pods are in sync.
However, when trying to connect (through Nodejs app), I am only able to int

[2017-12-07 22:21] joshorig opened #68 "Mongo-SideCar unable to connect to Mongodb"
[code]
Hi deplying the example statefulset to azure seems to give me the following error. Any ideas? Is there any specific configuration required for azure?

I am using the azure storage config as mentioned:
...
azure_ssd.yaml
...

I also attempted to add the following environment vairables:

...
  - name: MONGO_SIDECAR_POD_LABELS
              value: "role=mongo,environment=test"
            - na

[2017-12-08 09:10] joshorig commented on #68
So as of MongoDB 3.6, the default for MongoDB is to bind to localhost 127.0.0.1 which means it cannot accept the connection from the mongo-sidecar container by default.

To resolve set the bindip as a command option in the service file:

`mongo-statefulset.yaml`

Example:

[code]

[2017-12-18 23:38] reloaded opened #71 "Error in workloop Quorum check failed HostUnreachable"
I'm having an issue getting the sidecar to see my two MongoDB replicas.

Here's my Kubernetes yaml configuration that defines my resources.

[code]

[2017-12-19 00:07] reloaded commented on #71
Update: I tried to ping the other pods from within the first instance of the mongo pod and I was unsuccessful... What am I missing that allows the Mongo pods to connect to each other?

[2017-12-19 10:38] prakashechidna commented on #32
@luckyfengyong , did you solve this issue?

[2017-12-30 17:21] yoshz commented on #60
Just had the same issue.
Seems like the mongo:3.6 docker image listens on address 127.0.0.1. From mongo logs:
[code]

[2018-01-11 09:30] tverboon commented on #71
@reloaded Any luck solving this?

[2018-01-11 09:36] reloaded commented on #71
I never figured out. For the time being I turned off mongo sidecar and now run a single mongodb instance.

[2018-01-11 10:47] tverboon commented on #71
Fixed it:

[code]

Honestly, I am not sure why your version is not working. In my case I had an inconsistency in StatefulSet serviceName and the name of the headless server. I found out when I executed `hostname -f` in the container.

In your case it's all serviceName: `mongodb`. Maybe you should get rid of the quotes in the statefulset:

[code]

[2018-01-16 18:02] Jokero commented on #66
@cvallance Any thoughts about mentioned blogpost?

[2018-01-30 14:00] Jokero commented on #44
@cvallance Any workaround?

[2018-02-26 22:14] agshift commented on #67
I am also getting similar error. The primary (master) is working great. But the 2 secondaries (slaves) are not. Here is what I get after I bash to mongo-1 or mongo-2 (the secondaries):
[code]

But, when I do it on mongo-0 (primary) it shows the databases:
[code]
I checked rs.status() on each one of them and it looks correct to me. The "me" field has the respective <IP address>:<port_number> and th

[2018-02-26 23:04] agshift commented on #67
I think I found a workaround. I think by default the read is not enabled on the secondaries. So I went to the mongo shell for each of mongo-1 and mongo-2 and ran this command

**rs.slaveOk()**

That solved the problem. Now all my primaries and secondaries are working great. I tested, by inserting a document in primary and reading it from secondaries.

Hope this helps.
Thanks,
Amit

[2018-02-28 10:06] BoasE opened #75 "GCE - K8s 1.8 - pods is forbidden - Cannot list pods - Unknown user "system:serviceaccount:default:default""
I used the mongo-k8s-sidecar for somewhilte and everythign worked fine.

today i created a new cluster with **1.8.7-gke.1**  and deployed mongo db with the sicdecar.
As a result the pods don't get connected (see below)
when i recreate the cluster with k8s **1.7.12-gke.1** everything works fine.

From sidecar log when faliing:
message: 'pods is forbidden: User "system:serviceaccount:default:default

[2018-03-03 20:49] westonpace commented on #75
One simple fix is to create the following role binding:

[code]

This will grant the default service account view permissions.  A more secure approach would probably be to create a new service account, grant it the view permissions, and then assign that service account to the sidecar.

[2018-03-05 12:33] BoasE commented on #75
that worked. thx

[2018-03-05 12:33] #75 closed

[2018-03-07 19:04] westonpace commented on #75
Also, just as an FYI, you are correct that this change happened with 1.8.  [This note](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control) is from Google's page on Kubernetes authorization:

[2018-03-09 17:49] phthano opened #76 "mongo sidecar container does not attempt SSL connection with SSL enabled"
I am having an issue with this which may be obvious to the designer but is not to me. I stepped through all the documentation and I am unable to get the sidecar to establish an ssl connection to my container.
It appears to be trying to connect to localhost but I think that is because it's an initial failure of ssl. I have the correct podname specified in the db string and it even shows so. Any ins

[2018-03-10 01:43] phthano commented on #76
This was related to an expired (not invalid) SSL certificate in an old repository

[2018-03-10 01:43] #76 closed

[2018-03-20 18:08] bekriebel opened #77 "ReplicaSet _id error when pods are frequently replaced"
If pods are replaced frequently (such as when using preemptible machines), the replicaset member _id value continues to increment. The _id value has a hard limit of 255. After this is reached, the following error is produced:
[code]

Instead of just incrementing the _id value, the lowed available value below 255 should be used.

[2018-03-21 00:31] #77 closed

[2018-04-23 15:36] pavanpaik commented on #32
@cvallance  Do you have a resolution for this issue?

[2018-04-23 20:01] cvallance commented on #32
@pavanpaik - Did the approach @pashok2398 outlined not work for you? Where is it hosted? If it's hosted on a cloud provider, there might be some additional things you need to do... e.g. create a service per pod and make it `LoadBalancer` or create some security rules to allow traffic on the ports that your opening on your nodes.

This really isn't a question about the sidecar but more of question

[2018-05-02 19:30] cescoferraro opened #82 "Simple Authentication always fails"
I am running kops on AWS. I can get the mongo  cluster to work without authentication, but as soon as I try to secure it with simple user/password the nodes fail to connect.

I am creating the user like
`db.createUser( { user: "cesco", pwd: "mypassword", roles::[{role:"root", db:"admin"}] })`
then deleting the statefulset and creating back again uncommenting the below commented lines

[code]

On t

[2018-05-02 21:07] cescoferraro commented on #82
Strange thing I notice is that if I enable auth on the sidecar and not on mongod, the replicas are able to connect, but the logs get full of

[code]
As soon as I enable `--auth` flag on the mongod I replicas fail to connect to master

[2018-05-03 01:11] cescoferraro commented on #82
Finally got it to work with https://gist.github.com/thilinapiy/0c5abc2c0c28efe1bbe2165b0d8dc115
Only thing I change is the password and the replica count. I using 3 without any issues.

I just cannot realize why it does not work the way I was doing. Enabling with after setting a sido user seems to be the mongo way to do this 🤷‍♂️🤷‍♂️🤷‍♂️

[2018-05-24 01:29] supereagle commented on #82
@cescoferraro  I meet the same problem, how do you enable auth on the sidecar?

[2018-05-24 02:43] supereagle commented on #82
Maybe it is caused by the bug https://jira.mongodb.org/browse/SERVER-31916, my MongoDB is 3.6.4.

[2018-05-24 02:45] cescoferraro commented on #82
The gist on my last comment works just fine. I cannot find the reason why

[2018-05-26 07:29] supereagle commented on #43
@cvallance Any way of enabling authentication now？

[2018-06-07 01:39] yee379 opened #83 "how to remove replica?"
so without thinking i span up a dev mongo with the same replSet name (but in a different kubernetes namespace). this, correctly (but unfortunately) started a real replica of my 'production' data.

i have removed the dev instance successfully from the replSet in mongo itself (as per [https://docs.mongodb.com/manual/tutorial/remove-replica-set-member/](mongo's docs)) however, i still see the followi

[2018-06-11 17:36] agshift opened #84 "statefulset with authentication"
I am having trouble setting up authentication for my replica set using sidecar. Without the authentication, sidecar works perfect, but it is quite difficult to setup username/password in this sidecar setup. I also tried to follow this:
[https://gist.github.com/thilinapiy/0c5abc2c0c28efe1bbe2165b0d8dc115](url) but when I increase replicas:3, and get into the secondary mongo instance, I see a failur

[2018-06-12 10:36] supereagle commented on #66
@erkolson  I meet this problem, any solutions?

[2018-06-26 12:11] bbbmj commented on #66
Any thoughts?

[2018-07-04 09:10] DatzAtWork commented on #75
In my environment I don't have permissions to create ClusterRoleBindings.
Is there a solution with ServiceAccounts?

[2018-07-04 11:53] DatzAtWork opened #85 "Mongo error because node found twice"
`jira-mod-0` is found twice, once as `jira-mongo-0:27017` and once as `jira-mongo-0.jira-mongo.fapoms-training.svc.kubernetes.local:27017` . This causes a mongo error.

Here the logs of the sidecar on `jira-mongo-0`:
In the beginning, when only one pod is found:
[code]

Later, when second pod is found, it says:
[code]

[2018-07-09 07:45] DatzAtWork commented on #85
Same issue, when `KUBERNETES_MONGO_SERVICE_NAME` is not set:

[code]

[2018-08-13 09:30] manodupont commented on #58
Hi, i dont have any rs config sets after applying `kubectl apply -f mongo-statefulset.yaml`. Everything is there and waiting to work, but no replica set is connected to each other.

`rs.conf()` on each node says :

[code]

[2018-08-13 09:30] manodupont commented on #58
Where are my other nodes ..

[2018-08-21 08:49] ans-cst opened #87 "Workloop Error - No pods are currently running."
Attempting to deploy this and i have pretty much copied the exact configuration as shown in the repo.

All i am seeing in the sidecar logs is the below:
002761:AKS rfroggatt$ kubectl logs mongo-1 -c mongo-sidecar

warn:    --minUptime not set. Defaulting to: 1000ms
warn:    --spinSleepTime not set. Your script will exit if it does not stay up for at least 1000ms
Using mongo port: 27017
Starting up

[2018-08-21 08:53] ans-cst commented on #87
Here is my yaml file for deploying the MongoDB replica set along with all its required components.

[2018-08-28 05:35] emanzaman opened #88 "Calling rs.status immediately after rs.initiate throws auth error"
I have put all the steps to initiate a replica-set in a shell script. Basically, I am trying to convert a standalone instance A  to replica-set that includes one arbiter B and one secondary node C. These are the following steps in the script:

1. Start the standalone instance without auth parameter.
2. Create an admin user for mongodb admin database with the following role:
    Successfully added

[2018-08-28 10:15] emanzaman commented on #88
Apologies. Just realised this replository is for mongodb  using kubernetes. Closing it.

[2018-08-28 10:15] #88 closed

[2018-10-10 06:13] grohan2002 commented on #75
@BoasE Do we need to restart the pods for this change to take effect after the clusterRolebinding is created.

[2018-10-17 14:17] viniciusks opened #89 "Authentication failed with replica set mongodb kubernetes"
# Description

Before I had just a mongodb pod with simple authentication (username and password), today I needed to perform the mongo replica set to increase mongo's performance.

Today my mongo structure is like this:
mongo-0 - primary
mongo-1 - should be the secondary

But mongo-1 gives authentication failure.
How would I configure my mongo statefulset to accept this authentication?

# Code

ki

[2018-10-22 14:07] ShellBear commented on #85
I had exactly the same problem. In order to solve this problem, I added one condition in worker.js:242

`
if (member.name === podIpAddr || member.name === podStableNetworkAddr || podStableNetworkAddr.split('.')[0] === member.name.split(':')[0]) {
`

I hope this can help you!

[2018-10-22 14:09] ShellBear commented on #85
I had exactly the same problem. In order to fix it, I added one condition in worker.js:242

[code]

I hope this can help you!

[2018-10-22 14:11] ShellBear commented on #85
I had exactly the same problem. In order to fix it I edited the following [line:](https://github.com/cvallance/mongo-k8s-sidecar/blob/master/src/lib/worker.js#L245)

[code]

I hope this can help you!

[2018-10-29 07:35] neeraj9194 commented on #85
same with me, Is there any solution for this.

[2018-10-30 10:29] neeraj9194 commented on #85
Turns out it was my mistake all along, I was using `PersistentvolumeClaimTemplate` and `Persistentvolume` which were not getting deleted whenever Statefulset gets replaced and was picking replicaset "rs0" from earlier version with wrong hostname. So, If you don't see initial setup logs in logs like below it might be picking old configuration.
[code]

[2018-11-08 11:20] CurosMJ commented on #89
https://github.com/cvallance/mongo-k8s-sidecar/pull/86 Try using this PR's updated spec

[2018-11-08 15:35] viniciusks commented on #89
Thank you, I've already resolved

[2018-11-08 15:35] #89 closed

[2018-11-10 13:33] mauri870 commented on #75
@grohan2002 By now you probably have figured out, but for the sake of completeness then yes, you need to restart the pods for this to take effect.

[2018-11-28 08:53] #60 closed

[2018-12-01 20:40] Skeen commented on #85
I can reproduce the issue on a new minikube installation. Following the instructions yield 3 mongo pods with sidecar, and the sidecars all throw errors alike:
[code]
The issue seems to arise as mongo-0 does not identify itself by IP when found via the kubernetes client, and is described by the README:
[code]
In the above this is not the case.

[2018-12-17 19:57] bacheson commented on #75
this doesn't work in 1.11 ... I get cannot list pods at the cluster scope

[2019-01-28 19:15] mau21mau commented on #89
@viniciusks How did you solved the issue?

[2019-02-01 09:59] dsever opened #93 "init replicatin"
Hi,

Didn't catch the point should be replication cluster initialized?

From one of the mongo pod?
2019-02-01T09:41:34.447+0000 I FTDC     [initandlisten] Initializing full-time diagnostic data capture with directory '/data/db/diagnostic.data'
2019-02-01T09:41:34.447+0000 I REPL     [initandlisten] Did not find local voted for document at startup.
2019-02-01T09:41:34.447+0000 I REPL     [initandli

[2019-02-01 11:47] #93 closed

[2019-02-12 11:19] bambrozio commented on #32
Wondering if anyone solves this out...
I'm facing the same issue. Did someone manage to expose mongo outside k8s cluster?

[2019-02-12 13:20] bambrozio commented on #32
Nevermind - Get it working by simply performing:
[code]
Thus I could connect by:
[code]
as `30320` was the port assigned to my new service `mongo-client`

[2019-02-15 21:50] cescoferraro opened #94 "support mongo 3.6++"
I have issues trying to authenticate with the database using version > 3.4.9

`Db.prototype.authenticate method will no longer be available in the next major release 3.x as MongoDB 3.6 will only allow auth against users in the admin db and will no longer allow multiple credentials on a socket. Please authenticate using MongoClient.connect with auth credentials.`

[2019-02-23 14:44] fairlight12 commented on #82
Replica sets and sharded clusters require internal authentication between members when access control is enabled. For more details, please see Internal Authentication.

[2019-02-23 18:35] serain opened #96 "Support Horizontal Pod Auto-scaling"
It doesn't appear to be possible to set this up with an HPA:

[code]

With the above I get errors related to the hpa being unable to fetch CPU usage:

[code]

If I remove the sidecar, the `mongo` pod and the HPA function as expected.

I'm happy to try and fix this myself if you have any hints?

[2019-02-23 18:50] serain commented on #96
The issue was that I didn't specify `resources` for the sidecar container.

[2019-02-23 18:50] #96 closed

[2019-02-28 09:49] gfouquet commented on #66
I also came across the problem

[2019-03-29 13:52] viniciusks commented on #89
@mau21mau I followed this example.
https://gist.github.com/thilinapiy/0c5abc2c0c28efe1bbe2165b0d8dc115

[2019-04-02 12:02] abuzhynsky opened #97 "Project status"
First of all thank you for your work.
But is this project still maintained? I understand that it's a PoC but according to the issues, stars and PRs a lot of people are interested in it.
And there is no activity since the Nov 21, 2018.

[2019-04-03 19:39] cvallance commented on #97
Sorry, I have been busy with other work and out of the k8s + mongo world. I can have a look at a few issues and PRs over the next week... Just have  to get my head into the code again.

Thanks for the message :-)

[2019-04-04 08:15] meirhazonAnyVision opened #99 "Replication has not yet been configured"
Hello,

I am getting the following error,
2019-04-04T07:58:49.234+0000 I CONTROL  [initandlisten] options: { replication: { replSet: "rs0" }, storage: { mmapv1: { preallocDataFiles: false, smallFiles: true } } }
2019-04-04T07:58:50.435+0000 I REPL     [initandlisten] Did not find local replica set configuration document at startup;  NoMatchingDocument: Did not find replica set configuration docume

[2019-04-05 12:24] polganesh opened #100 "Unable to configure master slave in Azure K8s"
Hi,
Following is my env
Cloud provider Azure
K8s Version 1.12.5

stateful set

[code]

config map

[code]
when i try to find which pod is my master i am unable to find any pod as a master.

[code]

i found for all pods i am getting

{
        **"ismaster" : false,
        "secondary" : false,
        "info" : "Does not have a valid replica set config",**
        "isreplicaset" : true,
        ....

[2019-04-12 16:21] CarloAlbertoS opened #101 "Issue with headless service connecction string"
Hi,
I successfully installed the replicaset, and everything works fine except when I try to connect from an application, where I randomly get this error using the headless service in the connection string:
mongodb://mongo-hlservice

[code]
While everything works as expected if I specify the pod names in the connection string:
mongodb://mongo-0.mongo-hlservice.default.svc.cluster.local:27017,mongo-

[2019-04-23 13:10] Johannestegner commented on #97
Considered adding a extra maintainer to the project to help out when there is no time on your end? :)

[2019-04-24 12:23] danielloczi opened #102 "Alternating add/remove addresses"
I have a 3 node k8s setup with a Mongo StatefulSet, which is configured to use 3 pods.
In case of a node failure the pod that was previously running on that node stuck in 'terminating' state. That is the behavior of Kubernetes StatefulSet.
My problem is that terminating pod stays in the replicaset and if that is the master then db is not reachable.
Checking the sidecar logs it turned out that addi

[2019-05-06 06:26] aliartiza75 commented on #57
@meshfields how did you resolved this issue?

[2019-05-06 10:04] meshfields commented on #57
I stopped using Sidecars alltogether. None of them worked for us.

Am 6. Mai 2019 um 08:26:26, Irtiza Ali (notifications@github.com) schrieb:

@meshfields how did you resolved this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-05-06 10:09] aliartiza75 commented on #57
@meshfields then how are you creating MongoDB statefulsets in k8s?

[2019-05-06 13:29] meshfields commented on #57
Sorry to not be of help here but we offshored all DataBase into the Propietery Cloud due to the parameters of the project. I know its bad.

Am 6. Mai 2019 um 12:09:17, Irtiza Ali (notifications@github.com) schrieb:

@meshfields then how are you creating MongoDB statefulsets in k8s?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the th

[2019-05-06 13:30] aliartiza75 commented on #57
@meshfields thank you.

[2019-05-07 05:25] aliartiza75 commented on #57
@meshfields this issue will not raise if you use [mongodb helm chart](https://github.com/helm/charts/tree/master/stable/mongodb)

[2019-05-17 02:18] yaoice commented on #99
I have the same issue

[2019-06-04 11:52] nrobert13 commented on #43
@supereagle you can enable auth with the offiicial mongo docker images setting the appropriate ENV variables, like this:
[code]

and injecting a keyfile from a secret for ex:

[code]

[2019-06-04 13:31] nrobert13 commented on #94
I'm using mongo:4.0 and getting the same warning, but it works. It would be nice to implement the new method to avoid the flood of warning. Something like: https://github.com/Automattic/mongoose/issues/5304

[2019-06-13 13:25] supereagle commented on #43
@nrobert13 Thanks. I have enabled authentication with similar way.

[2019-07-08 10:16] ajouve opened #106 "Connect to database from outside kubernetes"
I have created a mongodb replicaset on kubernetes.

This is the result of `rs.status()` :

[code]

For example if I try to establish a connection with nodejs:

[code]

it works prefectly

[code]

This works as well

[code]

This case does not work, and I don't really understand why:

[code]

I have exactly the same issue with Studio 3T: it works fine on one server but fails when I add two servers

[2019-07-09 15:50] AntoninBeaufort commented on #53
Same problem

[2019-07-10 01:17] smyth64 commented on #53
same problem =/

It's really annoying because that's used in an official tutorial from google

[2019-07-10 01:32] smyth64 commented on #99
me too

[2019-07-10 08:15] AntoninBeaufort commented on #53
This is a problem of permissions for the sidecar, all we have to do is create a file with this content :
[code]
And do a `kubectl apply -f filename.yaml`

[2019-07-10 08:25] felixPG commented on #53
@AntoninBeaufort by default all pods run with the default service account, is not mandatory apply your clusterrolebinding.

[2019-08-26 08:25] ChangJoo-Park commented on #99
@meirhazonAnyVision @yaoice @smyth64

If yaml has not MONGO_PORT env, must add in your yaml.
https://github.com/cvallance/mongo-k8s-sidecar/blob/master/src/lib/config.js#L79 is not set 27017 by default.

[2019-08-28 06:47] icastillejogomez commented on #87
I have this issues with this yaml file:
[code]

[2019-09-24 18:41] martinszy commented on #34
I have found a similar issue and solved it with:
[code]

Is this correct?

[2019-09-28 02:17] wangnannan opened #107 "k8s 添加验证报错"
Db.prototype.authenticate method will no longer be available in the next major release 3.x as MongoDB 3.6 will only allow auth against users in the admin db and will no longer allow multiple credentials on a socket. Please authenticate using MongoClient.connect with auth credentials.
Error in workloop No pods are currently running, probably just give them some time.

[2019-10-05 00:48] jasonquick commented on #53
This solved the problem for me. Thanks @AntoninBeaufort.

[2019-10-06 10:23] ravisjoshi commented on #100
@polganesh Did you find any solution for the same ?

[2019-10-06 22:01] igor9silva opened #108 "Tag docker image with version"
Hi,

It'd be nice if you could tag the docker image on DockerHub with a version number. It doesn't seem safe pointing directly to `latest` as it could change anytime.

[2019-10-21 10:15] majest commented on #53
The error occurs because side car tries to add the ip address and the domain name is already there. Adding KUBERNETES_MONGO_SERVICE_NAME env variable to the sidecar solved the problem for me. The value should be the name of the service.

[code]

[2019-11-27 05:41] zedtux opened #109 "Is this project still a PoC? Is it production ready?"
This issue a little bit more specific than #97:

Is this project still a Proof Of Concept or is it production ready?

[2019-11-27 08:26] Maurice22 commented on #109
To be honest, I haven‘t seen any progress on this for a while and I would not consider it to be production ready. I personally opted for kubeDB to set up a MongoDB cluster in Kubernetes

[2019-11-27 09:21] zedtux commented on #109
Thank you @Maurice22 for your input 👍.

I went trough the documentation for MySQL and MongoDB and looking for the replication and automatic failover topics, and as far as I understood it, it is working for a single cluster, but they doesn't seem to have options for a multi-zone or multi data center configuration.

How many Data Center do you have in your config please?

[2019-11-27 09:24] Maurice22 commented on #109
I'm running on a single data center so unfortunately I don't have any additional information for you here

[2019-11-27 09:25] zedtux commented on #109
Okay, and what's your plan in the case that DC get down?

[2019-11-27 09:29] Maurice22 commented on #109
Well, for now this is not our main concern.. However, as far as I understand it, if you have your kubernetes cluster span over multiple sites (i.e. having multiple kubernetes nodes), you don't need to care about it, as the replication and failover is handled by kubernetes itself. In the end, you can see kubernetes as abstraction from the physical hardware, taking care about cases where the hardwar

[2019-11-27 09:33] zedtux commented on #109
Oh, unfortunately that's not an option because of physical constraints you'll get unstable network between the two sites, and you could end in a split brain issue or cluster freeze in the case masters are impacted.

That's why [Kube Federation V2](https://github.com/kubernetes-sigs/kubefed/blob/master/docs/userguide.md) exists.

[2019-11-27 09:34] zedtux commented on #109
If you'd like to know more about that topic, I recommend you to read that: https://www.percona.com/blog/2018/11/15/how-not-to-do-mysql-high-availability-geographic-node-distribution-with-galera-based-replication-misuse/

[2020-01-21 18:51] AguGriguol commented on #102
Hi @danielloczi !

Can you test this in production? Do you have any images in docker hub with this fix?

Thanks!

[2020-01-23 10:23] CharlesB2 opened #110 "Connection timed out after update or restart"
For some reason after working without problems on GCP, our sidecar instance now fails with the following error:

[code]

[sidecar.txt](https://github.com/cvallance/mongo-k8s-sidecar/files/4102500/sidecar.txt)

Our statefulset is the following:

[code]

[2020-02-14 13:07] max-l-weaver commented on #109
It is unfortunate that most documentation about mongodb and kubernetes uses this project to deploy the statefulset.

[2020-02-27 01:14] ogostus commented on #110
Same here
I guess it's related to updating services into ssl ?!

[2020-02-27 16:08] aaronnewsome opened #111 "sidecar correctly does config on first mongo cluster only"
Hello everyone. I'm a bit new to kubernetes and I thought of using this to easily configure a mongodb cluster.

Using the stateful set example here:

https://github.com/cvallance/mongo-k8s-sidecar/blob/master/example/StatefulSet/mongo-statefulset.yaml

I was able to get it up and running. However, the sidecar only configures the 1st mongodb cluster correctly. If I bring up a 2nd or 3rd cluster, th

[2020-03-22 06:12] ratnakarreddyg commented on #111
Hello @aaronnewsome

Could you please share a script that can perform rs.initiate? I am also having a similar requirement.

[2020-03-22 16:15] aaronnewsome commented on #111
Yes I can share. I was teaching kubernetes to all the guys on my team. Everyone got their own copy of a 3 node mongoDB cluster. My script initialized all of the perfectly. I’ll find it and send it over.

[2020-03-27 13:07] diegosucaria commented on #67
Hello, I'm facing the same issue here.

I did rs.slaveOk() on each pod, however, that only worked for a while, and after that, the error came back.

Any ideas how we can make this a permanent change?

[2020-04-03 07:40] zhcwang opened #113 "Can not work when server require client present a CA file."
Through the read me, i notice three special param that  allowConnectionsWithoutCertificates: true
 、allowInvalidHostnames: true、 allowInvalidCertificates: true。
That means sidecar want to connect mongo without using any CAs. But the problem comes  when  the server security police is very high, and don't allow anyone without CA to access.

So if there any solutions like we can mount all the CA in m

[2020-04-16 12:59] tillias opened #114 "Error in workloop RangeError [ERR_SOCKET_BAD_PORT]"
Hello,

I'm using following StatefulSet:
[code]

If I look into mongo-sidecar logs there is constantly error:
[code]

[2020-04-19 01:52] oke-py opened #115 "Kubernetes API version (apps/v1beta1) should be updated to apps/v1"
Statefulset in apps/v1beta1 is deprecated in Kubernetes v1.16.
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

It is used as below.

[code]

Currently, GKE is using v1.14 or v1.15, and so these manifests can be applied.
However, a few months later, GKE will use v1.16, and then the manifests cannot be applied.

[2020-04-20 15:29] rtudo commented on #109
@max-l-weaver - whats wrong with project. Just want to understand if you found anything here which might be of an issue.

[2020-04-29 09:00] davorceman opened #117 "(Error in workloop { MongoError: failed to connect to server [127.0.0.1:27017]) - After scaling up"
I created cluster with two replicas. And at the end it works correctly.
Now I increment replicas from 2 to 3 and I'm getting only on that one sidecar this error.

warn:    --spinSleepTime not set. Your script will exit if it does not stay up for at least 1000ms
Using mongo port: 27017
Starting up mongo-k8s-sidecar
The cluster domain 'cluster.local' was successfully verified.
Error in workloop { Mo

[2020-05-24 14:43] irparajababu opened #118 "Trying to deploy the mongodb using kubernetes"
---
apiVersion: v1
kind: Service
metadata:
 name: mongo
 labels:
   name: mongo
spec:
 ports:
 - port: 27017
   targetPort: 27017
 clusterIP: None
 selector:
   role: mongo
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
 name: mongo
spec:
 selector:
   matchLabels:
     role: mongo
 serviceName: "mongo"
 replicas: 3
 template:
   metadata:
     labels:
       role: mongo
   spec:
     termina

[2020-05-27 03:15] hp-caoy commented on #47
I have encountered this problem recently. Does anyone have a solution？
[code]

[2020-06-01 17:13] adityakar commented on #55
Was there a resolution this issue?

[2020-06-11 03:31] rakeshk121 opened #119 "Unable to scale up more than 7 replicas"
The mongo-k8-sidecar works fine for replicas upto 7 but when it is scaled up beyond 7, the new members are unable to join the replica. As per my analysis the issue is due to a constraint that mongo allows only 7 members as voting members even though there can be max of 50 members in the replica set. The sidecar configures all the members as voting members, so scale-up beyond 7 is not working fine.

[2020-07-16 06:21] jschroed91 commented on #118
@irparajababu That error is actually an error from kubectl itself and not the container. Since the pod is running two containers, you need to specify which container to listen on in whatever kubectl command you're running (I'm assuming it's `kubectl logs mongo-0`)

Run this instead: `kubectl logs mongo-0 mongo`

[2020-08-20 22:55] hi-usui commented on #109
As a PoC for sidecars, it's perfect. As for getting an actual MongoDB replica set going, I initially had success, but as soon as I wanted to do anything more specific, the sidecars were breaking down easily.

I recommend dropping this project for production. https://github.com/mongodb/mongodb-kubernetes-operator is new and prone to bugs as well, but it is a better alternative.

[2020-09-25 17:48] alitoufighi opened #121 "Using this sidecar disables running docker-entrypoint scripts"
I am stuck in a situation where I need to populate my Replica Set with some data, while using this sidecar to initiate the Replica Set and scale it automatically.

What I have is a mongo container with a script mounted in `/docker-entrypoint-initdb.d/` and running this sidecar aside it. Since this sidecar runs asynchronously with the mongo, we have no guarantee when mongo's docker entrypoint scrip

[2020-09-25 17:49] alitoufighi commented on #121
To solve this, I think a simple `sleep` would be a workaround.
A better fix would be watching data directory until it becomes non-empty, and then running workloop.

[2020-09-25 18:31] alitoufighi commented on #121
I had forgotten that you can't write to a `mongod` started with `--replSet` option when a Replica Set is not initiated.
So my above solutions are not valid for this case.
I think the problem was with my approach to initialize my replica set database in this way. If anyone can confirm this, I think we can close the issue.

[2020-10-13 09:43] marioeu commented on #27
Hi cvallance,

I'm still expiriencing this issue. Seems that this fix did not work.
Are you able to advise what more can be done?
I'm trying to find some way to remove the old  replica set IDs in runtime without have to manually remove data from node, but no lucky until now.

Any ideas would be great.

[2020-10-15 17:52] psrao2002 opened #122 "errro due to RBAC. how to change default user in setup"
Due to the limitation of service account creation, I have used "role: test" but this isn't helping. We are restricted to creating a new service account with the name mongo, but we can leverage existing ones. What environment variable/label should I use to overcome the following issue?

Error in workloop { [Error: [object Object]]
--
  | message:
  | { kind: 'Status',
  | apiVersion: 'v1',
  | meta

[2020-10-20 18:48] oculos opened #123 "Permission error"
Hi,

I get this error when trying the configuration below:

[code]

Configuration:

[code]

What could be the problem?

[2020-11-04 18:14] jmcollin78 commented on #123
Did you forget to create a Service ? Like this :
apiVersion: v1
kind: Service
metadata:
 name: mongosrv
 labels:
   name: mongosrv
spec:
 ports:
 - port: 27017
   targetPort: 27017
 clusterIP: None
 selector:
   role: mongodb

[2020-11-04 19:46] oculos commented on #123
Thanks a lot! Now it almost works. The "mongo" container fails, though, because of some storage related issue. I am working with an NFS-based PersistentVolume. Do you know what could be the issue here? Here are the logs:

[code]

[2020-11-04 19:51] oculos commented on #123
Never mind, it works now, it was an NFS issue. Thanks a lot for the great guide!

[2020-11-04 22:27] jmcollin78 commented on #123
Fine ! But in my opinion using NFS for a MongoDB Volume is not good. You should use very fast (SSD ?) disk formatted with xfs.
Here is my MongoDB volume configuration :

[code]

[2021-01-04 11:00] igor9silva commented on #108
@cvallance hey, I'm more than happy to help with it if given permissions.

[2021-01-15 04:24] rakeshk121 commented on #119
Scalling the mongo-stateful set beyond 3 as well does not seem to work. The current mongodb replica can be scalled up to 3 replicas(due to mongo-sidecar limitation) and scalling beyond 3 will fail to re-elect the members of the replica upon pod non-graceful restart of the pod and the system reboot

[2021-01-22 17:50] igor9silva commented on #117
Hi @davorceman, I'm facing similar problem. Did you ever found a solution?

[2021-02-24 14:17] fackyhigh commented on #71
Same thing here. This error appears when serviceName in StatefulSet differs from the Headless Service name. And the Headless Service must be created before the StatefulSet.

[2021-04-09 02:06] unfazing commented on #106
Hi @ajouve, any updates for this? Did you wind up finding an alternative to this sidecar?

[2021-04-21 19:00] dapeng-baidu commented on #118
@irparajababu Hi, have you solved it? I met the same problem and struck for days.

[2021-04-26 11:38] ajouve commented on #106
I am still having the issue and connecting to the master

[2022-03-18 06:40] rayshen3 commented on #106
+1

you can set `replicaSetHorizons` in mongo operator, but i don't know the parameter in this sidecar or  it's  not supported
@ajouve @unfazing  @cvallance

https://docs.mongodb.com/kubernetes-operator/master/reference/k8s-operator-specification/
![image](https://user-images.githubusercontent.com/9734936/158950466-41959263-4797-4e4f-b1fe-63d2a4e994b0.png)

[2022-06-24 03:05] wenbya commented on #114
hi @tillias  have you ever found the solution ? I am in the same problem now

[2022-08-02 02:14] cjzhub commented on #117
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: mongo-account
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: mongo-role
rules:
- apiGroups:
  - '*'
  resources:
  - configmaps
  verbs:
  - '*'
- apiGroups:
  - '*'
  resources:
  - deployments
  verbs:
  - list
  - watch
- apiGroups:
  - '*'
  resources:
  - services
  verbs:
  - '*'